*{
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
}    

html{
	scroll-behavior: smooth;
}
body{
	margin: 0; 
	padding: 0;
	box-sizing: border-box; 
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
	background-color: #EBECF0;
	text-decoration: none;
	position: relative;
}

canvas{
 display:block;
 vertical-align: bottom;
}


.js-count-particles{
 font-size: 1.1em;
}

#stats,
.count-particles{
 -webkit-user-select: none;
 margin-top: 5px;
 margin-left: 5px;
}

#stats{
 border-radius: 3px 3px 0 0;
 overflow: hidden;
}

.count-particles{
 border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
 width: 100%;
 max-height: 100px;
 background-color: #EBECF0;
 background-position: 50% 50%;
 background-repeat: no-repeat;
 display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;
}


.card-cus{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;
border: 0px;
border-radius: 20px;
}

.formbox{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;
}

.inputtxt{
height: 51px;
width: 300px;
border: 0px;
border-radius: 30px;
font-size: 16px;
padding:0px 20px;
color: #6e6e6e;
letter-spacing: .5px;
background-color: #EBECF0;
box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #fff;
box-sizing: border-box;
transition: all 0.2s ease-in-out;
}

.inputtxt:focus {
	box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px #fff;
	outline: none;
	border: none;
  }

.soft-btn{
font-size: 16px;
text-transform: uppercase;
font-weight: 700;
height: 50px;
width: 180px;
margin: 30px;
left: -50px;
border: 0px;
border-radius: 50px;
box-shadow: -5px -5px 20px #FFF,  5px 5px 20px #BABECC;
transition: all 0.2s ease-in-out;
color: #999999; 
outline: none;
border: none;
background-color: #EBECF0;
}

.soft-btn:hover {
		box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
	  }

.soft-btn:focus {
	outline: none;
	border: none;
}

.soft-btn:active {
		outline: none;
		border: none;
		box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
	  }

.rbtn{
height: 50px;
width: 50px;
border-radius: 50%;
}


.heading{
font-size: 3em;
margin-bottom: 70px;
color: #838383;
letter-spacing: 10px;
font-weight : 600;
  text-shadow: 1px 1px 1px #fff;
  text-align: center;

}

.btn-box{
padding-left: 30px;
display : flex;
flex-direction: row;
justify-content : space-around;
align-content:center;
align-items : center;
}

header{
z-index: 100;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 80px;
display: flex;
justify-content: start;
align-items: center;
align-content: center;
transition: 0.5s;
padding: 6px 80px;
background-color: transparent;

}

header.sticky{
padding: 6px 80px;
background-color: #EBECF0;
box-shadow: 0 5px 15px -6px rgba(54, 54, 54, 0.5);
}

.logo{
position: relative;
font-weight: 700;
color:#747070;
font-size: 2em;
text-align: center;
text-decoration: none;
padding: 5px;
letter-spacing: 2px;
transition: 0.6s;
display: flex;
align-items: center;
justify-content: center;
height: 45px;
width: 45px;
border-radius: 5px;
border: 1px solid #cccccc;
box-shadow: -3px -3px 10px #FFF,  3px 3px 10px #BABECC;
}

.about{
background-color: #EBECF0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;
margin: 10px;
text-align: right;
border-radius: 20px;
box-shadow: -5px -5px 20px #FFF,  5px 5px 20px #BABECC;
}

.about h1{
font-size: 3em;
padding: 60px;
text-align: right;
}

.about p{
font-size: 2em;
padding: 20px;

}

.cus-box{
width: 100%;
box-shadow: var(--brShadow), var(--tlShadow);
border-radius: 20px;
margin: 40px 0px;
padding: 40px 20px;
}

.bx2{
min-height: 300px;
}

.bx3{
min-height: 400px;
justify-content: center;
align-items: center;
align-content: center;
}

.bx3 h1{
font-weight: 700;
font-size: 7em;
line-height: 80%;
color: #c4c3c3;
text-align: end;
}

.dis-flex{
display: flex;
align-items: center;
align-content: center;
flex-direction: column;
}

.dis-flex h2{
color: #8b8b8b;
font-size: 2em;
font-weight: 700;
letter-spacing: 2px;


}

.rflex{
flex-direction: row;
}

p, li{
color: #797878;
font-size: 20px;
padding-top: 10px;
}

:root {
--colorMain: #EBECF0;
--brShadow: 6px 6px 15px  #BABECC;
--tlShadow: -6px -6px 15px #fff;
}
.text {
padding-top: 15%;
color: var(--colorMain);
font-size: 16em;
font-weight: bold;
line-height: 80%;
font-family: sans-serif;
text-align: end;
text-transform: uppercase;
text-shadow: var(--brShadow), var(--tlShadow);
position: relative;
overflow-wrap: break-word;
}

.heart{
height: 50px;
width: 50px;
border-radius: 50%;
box-shadow: var(--brShadow), var(--tlShadow);
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
padding-top: 5px;
color: rgb(160, 3, 3);
margin: 20px;
}

.overlay{
height: 100%;
width: 100%;
background-color: black;
z-index: 999;
position: fixed;
display: flex;
justify-content: center;
align-content: center;
align-items: center;
top: 0;
left: 0;

}

.overlay .popup{
background-color: #EBECF0;
height: 400px;
width: 400px;
border-radius: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
align-items: center;
position: absolute;
box-shadow: var(--brShadow), var(--tlShadow);
}

.popup h2{
font-size: 5em;
text-transform: uppercase;
font-weight: 700;
margin: 30px;
}




@media screen and (max-width: 768px ){
.text{
	font-size: 6em;
	padding-top: 100px;
}


.formbox{
	padding: 20px;
}


.bx3 h1{
padding-bottom: 50px;
margin-left: -20px;
font-size:4em;
text-align: start;
padding-bottom: 0px 0px 40px 20px;

}
}


